<!DOCTYPE html>
<html>
  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script  src="http://code.jquery.com/jquery-latest.min.js"></script>

    <title>Node.js with Input COMMENT PAGE</title>
  </head>
  
  <body id="body">
    <h1>Drfts_ Write COMMENT PAGE</h1>
    <hr/>
    <input type="text" id="comment" name="comment"/>
    <input type="button" class="ajaxsend" value="SEND" />

    <!--이곳에 결과 값이 붙는다.-->
    <div class="result"></div> <!--템플릿이 들어갈 result div태그-->
  </body>


  <script>
    document.querySelector('.ajaxsend').addEventListener('click', function() {
      var comment = $('#comment').val();
      sendAjax('http://localhost:4000/index', comment);
    });
 
    function sendAjax(url, data) {
      var data = {'comment': data};
      data = JSON.stringify(data);

      var xhr = new XMLHttpRequest();
      xhr.open('POST', url);
      xhr.setRequestHeader('Content-type', 'application/json');
      xhr.send(data);  

      xhr.addEventListener('load', function() {
        var result = JSON.parse(xhr.responseText);
        alert(result.comment);
        alert(result.day);
        if(result.result !== 'ok') {
          alert(result.comment);
          return;
        }
        document.querySelector('.result').innerHTML += result.day + "_  ";
        document.querySelector('.result').innerHTML += result.comment + "<br />";
      });
    }
  </script>
</html>