<!DOCTYPE html>
<html>
  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script  src="http://code.jquery.com/jquery-latest.min.js"></script>

    <title>Node.js with Input COMMENT PAGE</title>
  </head>
  
  <body id="body">
    <h1>Drfts_ Write COMMENT PAGE</h1>
    <hr/>
    <input type="text" id="comment" name="comment"/>
    <input type="button" class="ajaxsend" value="SEND" />

    <!--이곳에 결과 값이 붙는다.-->
    <table id="output" border="1">
    </table>
    <button id="getComment">코멘트가져오기</button>
  </body>


  <script>
  $(document).ready(function(){
    selectData();
  });


  function selectData(){
    $.getJSON('http://0.0.0.0:4000/index/comment', function(data){
        $(data).each(function(index, item){
          var output = '';
          output += "<tr>";
          //output += "<td>" + item.userId + "</td>";
          output += "<td>" + item.day + "</td>";
          output += "<td>" + item.comment + "</td>";
          output += "</tr>";
          $('#output').append(output);
        });
      });
  };


    document.querySelector('.ajaxsend').addEventListener('click', function() {
      var comment = $('#comment').val();
      sendAjax('http://0.0.0.0:4000/index', comment);
    });
    function sendAjax(url, data) {
      var data = {'comment': data};
      data = JSON.stringify(data);

      var xhr = new XMLHttpRequest();
      xhr.open('POST', url);
      xhr.setRequestHeader('Content-type', 'application/json');
      xhr.send(data);  

      xhr.addEventListener('load', function() {
        var result = JSON.parse(xhr.responseText);
        if(result.result !== 'ok') {
          return;
        }
        var output = '';
        output += "<tr>";
        //output += "<td>" + result.userId + "</td>";
        output += "<td>" + result.day + "</td>";
        output += "<td>" + result.comment + "</td>";
        output += "</tr>";
        $('#output').append(output);
        
      });
    }
  </script>
</html>